<div name="formname">
    <div class="form-group">
        <label for="formcontrolname">Name</label>
        <input type="text" class="form-control" id="formcontrolname" [(ngModel)]="name" value="name" placeholder="medicine name">
    </div>
    <div class="form-group">
        <label for="formcontrolqty">qty</label>
        <input type="text" class="form-control" id="formcontrolqty" [(ngModel)]="qty" value="1" placeholder="qty">
    </div>
    <div class="form-group">
        <label for="formcontroldatetime">Datetime</label>
        <input type="text" class="form-control" id="formcontroldatetime" [(ngModel)]="dateTime" placeholder="date">
    </div>
    <button type="submit" class="btn btn-primary" (click)="OnClick()">Insert</button>
</div>